<div id="wrapper">

<div id="header">
	Already a User? 
	
 <div id="SignInButton">
	 <%= link_to 'Sign In', '#' %>
	</div>
</div>

<div id="ClasswaveH1">
	Classwave
	</div>

<div id="Front_Page_Img">

<%= image_tag("front_page_image.png", :class => "round") %>
</div>

<br/>


	<div id="FB_Signup">
	<%= link_to 'Sign Up with Facebook', '#' %>
	</div>



</div>


	<footer>


			<div id="static_pages">
				<%= link_to "About Us", '#' %>
				<%= link_to "Blog", '#' %>
				<%= link_to "Contact Us", '#' %>
				<%= link_to "Privacy Policy", '#' %>
				<%= link_to "Terms of Use", '#' %>
				<%= link_to "Textbooks", '#' %>
			</div>

	</footer>




